@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* colors */

  --Light-red-CTA-text-: hsl(356, 100%, 66%);
  --Very-light-red-CTA-hover-background-: hsl(355, 100%, 74%);
  --Very-dark-blue-headings-: hsl(208, 49%, 24%);

  /* ### Neutral */

  --White-text: hsl(0, 0%, 100%);
  --Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  /* typography */
  --regular-font-size: 16px;
  --font-overpass: "overpass", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* structure */

body {
  position: relative;
}

/* header */

header {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.header-inner-content {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 2em;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2em;
  font-family: var(--font-overpass);
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2em;
}

.menu-link {
  gap: 2em;
  color: rgb(248, 247, 247);
  font-size: 1.2em;
  cursor: pointer;
}

header nav ul li:hover {
  text-decoration: underline;
  color: #fff;
}

header nav ul button {
  padding: 20px 55px;
  background-color: var(--White-text);
  border: none;
  border-radius: 30px;
  font-size: var(--regular-font-size);
  color: var(--Light-red-CTA-text-);
  font-family: var(--font-ubuntu);
  font-weight: 900;
  cursor: pointer;
  position: relative;
}

header nav ul button:hover {
  background-color: var(--Very-light-red-CTA-hover-background-);
  color: #fff;
}

.hamburguer-menu {
  cursor: pointer;
}

/* submenus  */
.sub-menu {
  background-color: #fff;
  border-radius: 10px;
  color: #000000;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.4em;
}

.arrow {
  display: inline;
  margin-left: 5px;
  transition: transform 2s infinite linear;
}

.sub-menu li {
  cursor: pointer;
}

.sub-menu li:hover {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.product {
  top: 130px;
  left: 285px;
}

.company {
  top: 130px;
  left: 425px;
}

.connect {
  top: 130px;
  left: 535px;
}

/* menu mobile */

.menu-mobile-container {
  background-color: #fff;
  top: 150px;
  position: absolute;
  width: 90%;
  color: var(--Very-dark-grayish-blue-body-copy) !important;
  border-radius: 5px;
  box-shadow: 1px 10px 27px -9px rgba(0, 0, 0, 0.75);
  padding: 2em 1em;
  font-size: 1em;
  font-family: var(--font-overpass);
}

.mobile-main {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8em;
}

.mobile-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 1em;
}

.mobile-cta li {
  font-size: 1.2em;
  cursor: pointer;
}

.mobile-cta button {
  background-color: var(--Light-red-CTA-text-);
  color: #fff;
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  font-family: var(--font-overpass);
  font-weight: 900;
  font-size: 1em;
}

hr {
  margin: 1em 0 1.5em 0;
  border: rgb(217, 217, 217) 1px solid;
}

.mobile-link {
  font-size: 1.2em;
  cursor: pointer;
}

.mobile-sub-menu {
  background-color: var(--Grayish-blue-footer-text);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.2em;
  padding: 1em;
  color: var(--Very-dark-grayish-blue-body-copy);
}

.mobile-sub-menu li {
  cursor: pointer;
  color: var(--Very-dark-blue-headings-);
}

/* sections */
/* section 1 */

#modern-platform {
  background: linear-gradient(90deg, var(--Very-light-red), var(--Light-red));
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 100px;
  background-size: cover;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

#modern-platform .modern-platform-background {
  position: absolute;
  z-index: -1;
  left: -22em;
  transform: scale(-0.1, -0.1);
  transform: rotate(360deg);
}

#modern-platform div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-family: var(--font-overpass);
  color: var(--White-text);
}

#modern-platform div h1 {
  font-size: 4.2rem;
}

#modern-platform div h2 {
  font-size: 1.5rem;
  font-family: var(--font-ubuntu);
  font-weight: 300;
}

#modern-platform div div {
  display: flex;
  flex-direction: row;
}

#modern-platform div div button {
  display: inline;
  border: 1px white solid;
  border-radius: 35px;
  font-size: var(--regular-font-size);
  color: var(--Light-red-CTA-text-);
  font-family: var(--font-ubuntu);
  padding: 20px 30px;
  width: 170px;
  background-color: transparent;
  color: var(--White-text);
  font-weight: 700;
  cursor: pointer;
}

#modern-platform div div button:hover {
  background-color: #fff;
  color: var(--Light-red-CTA-text-);
}

.accent-button {
  background-color: white !important;
  color: var(--Light-red-CTA-text-) !important;
}

.accent-button:hover {
  background-color: var(--Very-light-red-CTA-hover-background-) !important;
  color: #fff !important;
}

/*  section 2 */

#designed-future {
  margin: 6em 0;
  height: 1100px;
  background-image: url(./images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 180% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#designed-future .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
  width: 80%;
  flex: 1;
}

#designed-future .container h2 {
  font-family: var(--font-overpass);
  font-size: 3.2em;
  color: var(--Very-dark-blue-headings-);
}

#designed-future .wrapper {
  display: flex;
  gap: 2em;
}

#designed-future .column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#designed-future .text {
  width: 75%;
  margin: 0 auto;
}

#designed-future .text {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.text h3 {
  font-size: 2.2em;
  font-family: var(--font-overpass);
  color: var(--Very-dark-blue-headings-);
  margin-bottom: 1em;
}

.text p {
  line-height: 1.8;
  font-family: var(--font-ubuntu);
  color: var(--Very-dark-grayish-blue-body-copy);
}

.block {
  display: block;
  width: 100%;
  flex: 1;
}

/* section 3 */

.infrastructure-wrapper {
  position: relative;
}

#art-infrastructure {
  background: linear-gradient(
    270deg,
    var(--Very-dark-black-blue-footer-background),
    var(--Very-dark-blue-headings-)
  );
  height: 450px;
  border-radius: 0 100px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

#art-infrastructure div {
  display: flex;
  gap: 4em;
  width: 80%;
  z-index: 2;
}

.phones {
  position: absolute;
  transform: translateY(-480px);
  left: 150px;
}

#art-infrastructure div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--White-text);
  gap: 1.5em;
}

#art-infrastructure div div h3 {
  font-size: 2.7em;
  font-family: var(--font-overpass);
  font-weight: 300;
}

#art-infrastructure div div p {
  font-size: 1.1em;
  font-family: var(--font-ubuntu);
  line-height: 1.8;
  font-weight: 400;
}

.pattern-circles {
  position: absolute;
  z-index: 1;
  left: -220px;
  top: -500px;
}

/* SECTION 4 */

#free-powerful-tooling {
  margin: 6em 0;
  height: 1100px;
  background-image: url(./images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: -120% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#free-powerful-tooling .wrapper {
  display: flex;
  flex-direction: row-reverse;
}

#free-powerful-tooling .column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#free-powerful-tooling div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--White-text);
  gap: 1.5em;
}

#free-powerful-tooling .text {
  width: 75%;
  margin: 0 auto;
  background-color: ;
}

#free-powerful-tooling .text {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.tooling-block {
  display: block;
  flex: 1;
  width: 100%;
}

/* footer */

footer {
  height: 450px;
  background-color: var(--Very-dark-black-blue-footer-background);
  width: 100%;
  color: var(--White-text);
  border-radius: 0 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-ubuntu);
}

.footer-inner {
  width: 77%;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}

.footer-menu h5 {
  font-weight: 900;
  margin-bottom: 2em;
}

.footer-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-menu li {
  color: var(--Grayish-blue-footer-text);
  cursor: pointer;
}
/* utilities */

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.menu-mobile-hidden {
  display: none;
}

/* Responsive styles */

@media (max-width: 1200px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile-hidden {
    display: block;
  }
  /* .menu-mobile-closed {
    display: block;
  } */
  #modern-platform {
    height: 700px;
  }
  #modern-platform div h1 {
    font-size: 2.6em;
    font-weight: 500;
  }
  #modern-platform div {
    width: 80%;
    text-align: center;
  }
  #modern-platform div h2 {
    font-size: 1.3em;
    line-height: 1.6;
  }
  #modern-platform div div {
    gap: 1em;
    width: 100%;
    margin-top: 2.2em;
  }
  #modern-platform div div button {
    width: 100%;
    border-radius: 30px;
    padding: 15px 18px;
    font-size: 1em;
  }
  .phones {
    position: absolute;
    width: 280px;
    margin: 0 auto;
    left: 50px;
    transform: translateY(-750px);
  }
  .header-inner-content {
    justify-content: space-between;
  }

  #designed-future {
    height: 1200px;
    background-position: top;
    background-image: url(./images/illustration-editor-mobile.svg);
    margin: 14em 0;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  #designed-future .container h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 18em;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .column {
    align-items: center;
    text-align: center;
  }
  .text {
    width: 85%;
  }
  #art-infrastructure {
    height: 650px;
    align-items: flex-end;
  }
  #art-infrastructure div {
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 0 auto 3em auto;
  }
  #free-powerful-tooling {
    flex-direction: column;
    background-image: url(./images/illustration-laptop-mobile.svg);
    background-position: top;
    background-size: 120%;
  }
  #free-powerful-tooling .container {
    flex-direction: column;
  }
  #free-powerful-tooling .wrapper {
    flex-direction: column;
    margin-top: 30em;
  }
  footer {
    height: 100%;
    width: 100%;
  }
  footer .footer-inner {
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
  }

  .footer-menu {
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }

  .footer-logo {
    margin: 0 auto;
  }
  .footer-menu {
    gap: 2.5em;
  }
}
